---
interface Props {
  image: string;
	title: string;
	body: string;
  price: string;
	href: string;
}

const { image, title, body, price, href } = Astro.props;
---

<li class="link-card">
	<a href={href}>
    <img src={image} alt={title} height="200" width="200" />
		<h4>
			{title}
		</h4>
		<p>
			{body}
		</p>
    <p>
      ${price}
    </p>
	</a>
</li>
